@* @model BSRVemcoCS.iAppViewModel.AppDevelomentTable1EditViewModel *@
@model List<AppDevelomentTable1EditViewModel>

@* class="accordion-body" *@
<div id="div_PageHTMLContent" style="margin:0px;padding:0px;display:flex;flex-direction:column;">





    @foreach (var iRowMaster in Model!)
    {

        @*  <div class="fw-bold p-1" style="width:100%;margin-left:5px;background-color:whitesmoke;">@iRowMaster.TableTitle</div> *@

        <table class="table table-hover table-bordered" style="margin:0px;width:100%;padding:3px;table-layout:fixed;background-color:white;">
            <thead>
                <tr>
                    <th class="text-start" style="background-color:silver;">@iRowMaster.TableTitle</th>
                    @*                     <th class="fw-bold text-center" style="width:70px;background-color:whitesmoke;">@iRowMaster.ColumnVeMinus</th>
                <th class="fw-bold text-center" style="width:80px;background-color:whitesmoke;">@iRowMaster.ColumnNeutral</th>
                <th class="fw-bold text-center" style="width:70px;background-color:whitesmoke;">@iRowMaster.ColumnVePlus</th>
                <th class="fw-bold text-center" style="width:50px;background-color:#dde9f5;">@iRowMaster.ColumnScore</th>
                <th>@iRowMaster.ColumnRiskControlMeasure</th> *@
                    @* background-color:#dde9f5;
                *@
                    <th class="fw-bold text-center" style="width:110px;background-color:silver;">Risk</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var iRow in iRowMaster.RowContentList!)
                {

                    <tr class="divHighlight" style="padding:3px;">
                        <td class="text-start" ><span>@Html.Raw(@iRow.ColumnDescription)</span></td>


                        @*fw-bold  background-color:#dde9f5; *@
                        <td class="text-center" style="width:100px;">
                            @* @iRow.InformationButtonText *@
                            <div class="rounded-3" style="margin:0px;padding:2px;background-color:@{@iRow.InformationButtonStyleCSS};color:white;">@iRow.InformationButtonText</div>
                        </td>


                    </tr>
                }


            </tbody>
        </table>




    }

   

</div>
 