@model AppPagePathNameViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @Model.PageHTMLContent *@@* class="pagetitle" *@
<div  style="padding:0px;margin:0px;display:flex;flex-direction:row;">

    <span style="color:@Model.ParentPageNameColorCSS;">@Model.ParentPageName</span>
    <span style="display:@Model.ChildPageNameCSS;color:@Model.ChildPageNameColorCSS;padding-left:3px;padding-right:3px;"> / </span>
    <span style="display:@Model.ChildPageNameCSS;color:@Model.ChildPageNameColorCSS;">@Model.ChildPageName</span>

    @* <nav>
        <ol class="breadcrumb" style="padding:0px;margin:0px;display:inline;">
             <li class="breadcrumb-item"><a>@Model.ParentPageName</a></li>
            <li class="breadcrumb-item active" style="display:@Model.ChildPageNameCSS;color:#0a75bb;">@Model.ChildPageName</li>
        </ol>
    </nav> *@
</div>