@using BSRVemcoCS.DBModels;
@model BSRVemcoCS.iAppViewModel.AppDevelomentNew2ViewModel


@{


}



@* class="row"<main id="main" class="main">*@
<div id="main" style="margin-top:0px;padding-top:10px;">

    <div class="pagetitle" style="padding-top:0px;">
        @*<h1>Company Name</h1>*@
        <nav>
            <ol class="breadcrumb">
                @*href="index.html"*@
                <li class="breadcrumb-item"><a>View Building</a></li>
                <li class="breadcrumb-item active">Information Gathering</li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->
    @*class="section dashboard" style="margin-top:0px;padding-top:0px;"*@
    <section>

        @*  <p> Click on button to display popup modal function </p>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#popupModal">
        Open modal function
        </button>
        *@

        @*   <img src='~/img/img_upload.png' style='width:50px;height:50px;' />
        *@
        <div class="row">

            <span class="fs-5 ms-3">Information Gathering</span>
            @*   BuildingInformationList.Count ==      @Model.BuildingInformationList.Count*@
        </div>

        <form method="post" class="row g-3 needs-validation" novalidate>


            <div asp-validation-summary="All" class="text-danger"></div>


            <div class="row">


                @*class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"*@

                <div>



                    <div class="row">
                        @*fs-6*@
                        <span class="m-3">Please identify which of the following documents exist</span>
                    </div>


                    <div class="row">



                        <div class="list-group list-group-flush m-3">
                            @**@
                            @foreach ( var iRow in Model.BuildingInformationList! )
                            {
                                @*data-bs-target="#popupModal"*@
                                <a href="#" class="list-group-item list-group-item-action bg-transparent"
                                   data-bs-toggle="modal" onclick="Popup_LoadForm('@iRow.AppTableTokenID','@iRow.TableTokenID','@iRow.BuildingTokenID','@iRow.APPInformationTokenID','@iRow.InformationTokenID','clminfotxt_@iRow.InformationTokenID','clmdoc_@iRow.InformationTokenID');">

                                    <div class="row">

                                        <div class="col-10" data-clminfotxt="clminfotxt_@iRow.InformationTokenID">@iRow.InformationText</div>

                                        <div class="col-2 text-end" style="float:right;">
                                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />

                                            @if ( iRow.DocumentCount != "0" )
                                            {
                                                <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;" data-clmdoc="clmdoc_@iRow.InformationTokenID">10</small>

                                            }
                                            else
                                            {
                                                <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;" data-clmdoc="clmdoc_@iRow.InformationTokenID"></small>

                                            }

                                        </div>




                                    </div>

                                </a>



                            }








                            @*
                            <a href="#" class="list-group-item list-group-item-action bg-transparent"
                            data-bs-toggle="modal" data-bs-target="#popupModal">
                            <div class="row">

                            <div class="col-10">Up-to-date Fire Risk Assessment (FRA)</div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>




                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Up-to-date floor plans and elevations of the building
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>


                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            As-built construction drawings for the building
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            O&M Manuals
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Fire Statement
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Testing records for alarm system
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Testing records for smoke ventilation system
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Testing records for other relevant systems
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Structural engineer's report
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Evidence that Health and Safety File/Golden Thread information is continually being updated
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">

                            <div class="row">

                            <div class="col-10">
                            Evidence that Health and Safety file/Golden Thread documentation is being reviewed to inform decisions in relation to any changes to be made 112233
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>


                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Evidence that the AP has a process in place to ensure that decisions are not made without reference to key documents like the fire strategy
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>


                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Formal fire engineer approval that the building design complies with Regualtions
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Contractors' Permit to Work
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Formal structural engineer approval that the design complies with the fire strategy
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Formal M&E subcontractor approval that M&E designs comply with the fire strategy
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Construction Assurance documentation e.g. completion reports, product warranties etc
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Conveyancing Documentation e.g. sale agreements, lease agreements etc
                            </div>

                            <div class="col-2 text-end" style="float:right;">

                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>


                            </div>

                            </a>


                            <a href="#" class="list-group-item  list-group-item-action bg-transparent">
                            <div class="row">

                            <div class="col-10">
                            Formal approvals
                            </div>

                            <div class="col-2 text-end" style="float:right;">
                            <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>



                            </div>

                            </a>


                            *@







                        </div>
                    </div>


                </div>


                @* style="background-color:red;"*@
                <div class="mt-5">

                    @*<a href="@Url.Action("Page1_New", "Development",new {area="iWebMember", id= ViewContext.RouteData.Values["id"], state="edit"})" class="btn btn-secondary float-start">
                    <span>Clients</span>
                    </a>*@
                    @*  <a type="button" class="btn btn-secondary float-start" value="Back" style="width:100px;height:auto;"
                    href="@Url.Action("Page1_New", "Development",new {area="iWebMember", id= ViewContext.RouteData.Values["id"], state="edit"})" />

                    <a class="btn btn-primary float-end" type="submit"  value="Next" style="width:100px;height:auto;" />
                    *@

                    <input type="button"
                           value="Back"
                           class="btn btn-secondary float-start"
                           style="width:100px;height:auto;"
                           onclick='location.href="@Url.Action("Page1_Edit", "Development" ,new {area="iWebMember", bldtknid= Context.Request.Query["bldtknid"], state="edit"})"' />


                    @*   onclick='location.href="@Url.Action("Page1_New", "Development" ,new {area="iWebMember", id= ViewContext.RouteData.Values["id"], state="edit"})"'*@

                    <input type="submit"
                           value="Submit"
                           class="btn btn-primary float-end"
                           style="width:100px;height:auto;" />
                </div>

            </div>
        </form>

    </section>

    @*POPUP*@
    <div class="modal" id="popupModalEditor">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header" style="background-color:whitesmoke;">
                    <h4 class="modal-title">Upload Documents</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    @*  <button onclick="openEdit();" value="tab" />*@

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li id='tab_Preview' class="nav-item" role="presentation">
                            <button class="nav-link active" id="btn_Preview" data-bs-toggle="tab" data-bs-target="#content_Preview" type="button" role="tab" aria-controls="home" aria-selected="true" data-tabcontent="preview">Preview</button>
                        </li>
                        <li id='tab_View' class="nav-item" role="presentation">
                            <button class="nav-link" id="btn_View" data-bs-toggle="tab" data-bs-target="#content_View" type="button" role="tab" aria-controls="profile" aria-selected="false" data-tabcontent="view">View Files</button>
                        </li>
                        <li id='tab_Upload' class="nav-item" role="presentation">
                            <button class="nav-link" id="btn_Upload" data-bs-toggle="tab" data-bs-target="#content_Upload" type="button" role="tab" aria-controls="messages" aria-selected="false" data-tabcontent="upload">Upload Files</button>
                        </li>
                        <li id='tab_Edit' class="nav-item" role="presentation">
                            <button class="nav-link" id="btn_Edit" data-bs-toggle="tab" data-bs-target="#content_Edit" type="button" role="tab" aria-controls="settings" aria-selected="false" data-tabcontent="edit">EDIT</button>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="content_Preview" role="tabpanel" aria-labelledby="home-tab">


                            @* <div class="row">



                            <div class="list-group list-group-flush m-3">


                            <a href="#" class="list-group-item list-group-item-action bg-transparent"   >*@

                            <div class="row mt-3 mb-3">

                                <div id="iInformationText" class="col-10">Up-to-date Fire Risk Assessment (FRA)</div>

                                <div class="col-2 text-end" style="float:right;">

                                    @*  <img src="~/img/arrow_right_black.png" style="width:30px;height:30px;float:right;" />
                                    *@
                                    @* @if ( iRow.DocumentCount != "0" )
                                    {
                                    <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>

                                    }
                                    else
                                    {*@
                                    <small id="iDocumentCount" class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">11</small>

                                    @*}*@

                                </div>




                            </div>

                            @*  </a>



                            </div>
                            </div>*@




                            @*xx*@






                            @*  <div class="row col-12">

                            <div  class="col-10">Up-to-date Fire Risk Assessment (FRA)</div>

                            <div class="col-2 float-end" style="float:right;">

                            <small class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">10</small>
                            </div>

                            </div>*@



                        </div>

                        <div class="tab-pane" id="content_View" role="tabpanel" aria-labelledby="profile-tab">

                            <div id="div_DocumentList" class="row mt-3 mb-3">

                                @* @await Component.InvokeAsync("Events", new { showPrevious = Model.ShowPrevious, showUpcoming = Model.ShowUpcoming })
                                *@

                                @*@await Component.InvokeAsync("DocumentList")*@

                                @*
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item">

                                <table>
                                <tr>
                                <td style="text-align:left;vertical-align:text-top;padding:2px;"><img src="~/img/img_file_pdf.png" style="width:20px;height:20px;margin:2px;" /></td>

                                <td style="width:100%;text-align:left;vertical-align:text-top;padding:2px;">

                                <div class="p-1" style="display:flex;flex-direction:column;">
                                <a href=# target="_blank" style="text-decoration:underline;">File_1101.pdf (151.2KB)</a>

                                <div class="mt-1" style="display:flex;flex-direction:row;">
                                <strong>Document publication date:</strong>
                                <span>6 February, 2022</span>

                                </div>

                                <strong class="mt-1">Document description:</strong>
                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                                </div>
                                </td>

                                <td class="m-3" style="text-align:left;vertical-align:text-top;"><img src="~/img/img_download.png" style="width:20px;height:20px;" alt="Download" title="Download" /></td>
                                <td class="m-3" style="text-align:left;vertical-align:text-top;" onclick="openEdit();"><img src="~/img/img_edit.png" style="width:20px;height:20px;" alt="Edit" title="Edit" /></td>
                                <td class="m-3" style="text-align:left;vertical-align:text-top;"><img src="~/img/img_delete.png" style="width:20px;height:20px;" alt="Delete" title="Delete" /></td>
                                </tr>
                                </table>

                                </li>

                                </ul>*@

                            </div>

                        </div>

                        <div class="tab-pane" id="content_Upload" role="tabpanel" aria-labelledby="messages-tab">

                            @*class="row m-3"*@
                            <div class="row mt-3 mb-3" id="dropzone">

                                <form asp-area="iWebMember" asp-controller="Development" autocomplete="off" asp-antiforgery="true" class="dropzone"
                                      id="demo-upload" enctype="multipart/form-data" asp-action="UploadFiles" method="post">
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="form-row">
                                    </div>
                                    <input id="hdn_InformationTokenID" name="hdn_InformationTokenID" type="hidden" value="0" />
                                    <input id="iAppinformationTokenID" name="iAppinformationTokenID" type="hidden" value="0" />
                                    <input id="iInformationTokenID" name="iInformationTokenID" type="hidden" value="0" />
                                    <input id="iBuildingTokenID" name="iBuildingTokenID" type="hidden" value="0" />
                                </form>
                            </div>

                            @*   <div class="row m-3">
                            <label for="formFileMultiple" class="mt-3f orm-label">Upload a file(s)</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div>

                            <small class="text-danger">(You must upload a file in order to select YES)</small>*@


                        </div>

                        <div class="tab-pane" id="content_Edit" role="tabpanel" aria-labelledby="messages-tab">



                            <div class="row mt-3 mb-3" id="popup_FormContent">
                                @* @await Component.InvokeAsync("Editor")*@

                                @*class="ms-3 me-3 mb-3"*@

                                <table>




                                    <tr>
                                        <td style="text-align:left;vertical-align:text-top;padding:0px;">
                                            <img src="~/img/img_file_pdf.png" style="width:20px;height:20px;margin:0px;" />
                                        </td>

                                        <td style="width:100%;text-align:left;vertical-align:text-top;padding:2px;">

                                            <div class="p-1" style="display:flex;flex-direction:column;">
                                                <a href=# target="_blank" style="text-decoration:underline;">File_1101.pdf (151.2KB)</a>

                                            </div>
                                        </td>

                                    </tr>

                                </table>






                                <div class="mt-3">
                                    <label class="form-label">Document publication date:</label>
                                    <input class="form-control"
                                           type="date" id="iScoreAdjusted" name="iScoreAdjusted">

                                </div>
                                @*                                    me-3 mb-3*@
                                <div class="mt-3">
                                    <label class="form-label">Document description:</label>
                                    <textarea id="txt_HTMLContent" name="txt_HTMLContent" style="width:100%;height:auto;" rows="20" class="form-control">
                                        default
                                    </textarea>

                                </div>

                            </div>


                        </div>


                        @* <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                        settings
                        </div>*@
                    </div>

                    @* <script>
                    var firstTabEl = document.querySelector('#myTab li:last-child a')
                    var firstTab = new bootstrap.Tab(firstTabEl)

                    firstTab.show()
                    </script>*@














                </div>
                <div class="modal-footer">
                    <div style="width:100%;display:flex;flex-direction:row;justify-content: space-between;">

                        <div class="flex-start">

                            <div id="div_CommandUpload" class="flex-start">
                                <button type="button" id="btnupload" class="btn btn-primary">Upload</button>

                                @*<a class="btn btn-danger" onclick="load_TabViewDocumentList();">Clear</a>*@
                            </div>

                            <div id="div_CommandEdit" class="flex-start">
                                <button type="button" id="btnSubmitUpdate" onclick="submit_TabEditDocument();" class="btn btn-primary">Submit</button>

                                <a class="btn btn-danger" onclick="cancel_TabEditDocument();">Cancel</a>
                            </div>



                        </div>

                        <div class="flex-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section iScript{

    <link href="~/dropzone/dropzone.min.css" rel="stylesheet" />
    <script src="~/dropzone/dropzone.min.js"></script>




    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>


    <script>

        let editor;

        ClassicEditor
            .create(document.querySelector('#txt_HTMLContent'))
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });



    </script>


    <script>



        window.apptbltknid;
        window.tbltknid;
        window.bldtknid;
        window.appinftknid;
        window.inftknid;
        window.clminfotxt;
        window.clmdoc;


        function Popup_PostForm () {

            try {

                //alert('inftknid == ' + window.inftknid);

                var clmn_InfoText = $("[data-clminfotxt='clminfotxt_" + inftknid + "']");
                var clmn_DocumentCount = $("[data-clmdoc='clmdoc_" + inftknid + "']");
                var clmn_Total = $("[data-clmtotal='clmtotal']");

                var txt_RiskControlMeasure = '0';
                var visible_RiskControlMeasure = '0';

                if (editor.getData() == '') {
                    txt_RiskControlMeasure = "0";
                    visible_RiskControlMeasure = "";
                }
                else {
                    txt_RiskControlMeasure = editor.getData();
                    visible_RiskControlMeasure = editor.getData();

                }

                var iInformationText = document.getElementById('iInformationText');



                $.ajax({
                    type: "POST",

                    //url: @Url.Action("Update_Score_ByInformationTokenID","Development",new { Area = "iWebMember" }),
                    url: '/iWebMember/Development/Update_Score_ByInformationTokenID',

                    data: {
                        iAppTableTokenID: apptbltknid,
                        iTableTokenID: tbltknid,
                        iBuildingTokenID: bldtknid,
                        iInformationTokenID: inftknid,
                        iInformationText: iInformationText.value,
                        iRiskControlMeasure: txt_RiskControlMeasure
                    },
                    success: function (result) {


                        clmn_InfoText.html(iInformationText.value);
                        clmn_DocumentCount.html(visible_RiskControlMeasure);
                        clmn_Total.html(result.total);

                    },
                    error: function () {
                        alert('Failed to receive the Data');
                        console.log('Failed ');
                    }
                });




                $('#popupModalEditor').modal('hide');



            }

            catch (ex) {
                alert(ex);

            }
        }



        function Popup_LoadForm (apptbltknid, tbltknid, bldtknid, appinftknid, inftknid, clminfotxt, clmdoc) {

            try {


                window.apptbltknid = apptbltknid;
                window.tbltknid = tbltknid;
                window.bldtknid = bldtknid;
                window.appinftknid = appinftknid;
                window.inftknid = inftknid;
                window.clminfotxt = clminfotxt;
                window.clmdoc = clmdoc;

                // alert('popup form here' + bldtknid + " , " + inftknid + " , " + clminfotxt + " , " + clmdoc);

                var clmn_InfoText = $("[data-clminfotxt='clminfotxt_" + inftknid + "']");
                var clmn_DocumentCount = $("[data-clmdoc='clmdoc_" + inftknid + "']");

                var txt_RiskControlMeasure = '0';

                //////if (editor.getData() == '') {
                //////    txt_RiskControlMeasure = "0";
                //////}
                //////else {
                //////    txt_RiskControlMeasure = editor.getData();

                //////}




                //var divTestMe = document.getElementById('txt_HTMLContent');
                var iInformationText = document.getElementById('iInformationText');
                var iDocumentCount = document.getElementById('iDocumentCount');

                //  iInformationText.value = '3';

                iInformationText.innerHTML = clmn_InfoText.html();
                iDocumentCount.innerHTML = clmn_DocumentCount.html();

                //////  editor.setData(clmn_DocumentCount.html());


                $('#tab_Edit').hide();

                $('#div_CommandUpload').hide();
                $('#div_CommandEdit').hide();


                $("#iAppinformationTokenID").val(appinftknid);
                $("#iInformationTokenID").val(inftknid);
                $("#iBuildingTokenID").val(bldtknid);
                //$("#hdn_InformationTokenID").val(inftknid);




                $('#popupModalEditor').modal('show');


            }

            catch (ex) {
                //  alert(ex);
                console.log(ex);
            }
        }





        function openEdit () {

            try {

                $('#tab_Edit').hide();
                // $('#myTab button[bs-target="#edit"]').tab('show'); // Select tab by name`

                $("#btn_Preview").removeClass("active");
                $("#btn_View").removeClass("active");
                $("#btn_Upload").removeClass("active");

                $("#content_Preview").removeClass("active");
                $("#content_View").removeClass("active");
                $("#content_Upload").removeClass("active");

                $("#btn_Edit").addClass("active");
                $("#content_Edit").addClass("active");
            }
            catch (err) {
            }

        }




        function open_TabViewDocuments () {

            try {

                $('#tab_Edit').hide();
                $('#div_CommandUpload').hide();
                $('#div_CommandEdit').hide();

                // $('#myTab button[bs-target="#edit"]').tab('show'); // Select tab by name`

                $("#btn_Preview").removeClass("active");
                $("#btn_Edit").removeClass("active");
                $("#btn_Upload").removeClass("active");

                $("#content_Preview").removeClass("active");
                $("#content_Edit").removeClass("active");
                $("#content_Upload").removeClass("active");

                $("#btn_View").addClass("active");
                $("#content_View").addClass("active");
            }
            catch (err) {
            }

        }







        function clearFiles () {
            try {

                ////$("#hdn_InformationTokenID").val("comment");

                ////alert($("#hdn_InformationTokenID").val());

                //dz.removeAllFiles(true);
            }
            catch (err) {

                alert(err);
            }

        }




        function load_TabViewDocumentList () {


            try {



                //  $("#iInformationTokenID").val(inftknid);
                //  $("#iBuildingTokenID").val(bldtknid);

                $.ajax({
                    //url: '@Url.Action("ReloadEvents", "Home")',
                    url: '/iWebMember/Development/load_TabViewDocumentList',
                    data: {
                        bldtknid: $("#iBuildingTokenID").val(),//document.getElementById("cbShowPrevious").checked,
                        inftknid: $("#iInformationTokenID").val() //document.getElementById("cbShowUpcoming").checked
                    },
                    success: function (data) {
                        $("#div_DocumentList").html(data);

                        $('#div_CommandUpload').hide();
                        $('#div_CommandUpload').hide();

                        // alert('load_TabViewDocumentList DONE !!!');
                    }
                });
            }
            catch (err) {
                console.error(err);
                return;

            }









        }







        function cancel_TabEditDocument () {

            try {

                $('#tab_Edit').hide();
                // $('#myTab button[bs-target="#edit"]').tab('show'); // Select tab by name`

                $("#btn_Preview").removeClass("active");
                $("#btn_Edit").removeClass("active");
                $("#btn_Upload").removeClass("active");

                $("#content_Preview").removeClass("active");
                $("#content_Edit").removeClass("active");
                $("#content_Upload").removeClass("active");

                $('#div_CommandUpload').hide();
                $('#div_CommandUpload').hide();

                $("#btn_View").addClass("active");
                $("#content_View").addClass("active");


            }
            catch (err) {
                console.error(err);
                return;
            }


            //$.ajax({
            //    //url: '@Url.Action("ReloadEvents", "Home")',
            //    url: '/iWebMember/Development/load_TabViewDocumentList',
            //    data: {
            //        bldtknid: $("#iBuildingTokenID").val(),//document.getElementById("cbShowPrevious").checked,
            //        inftknid: $("#iInformationTokenID").val() //document.getElementById("cbShowUpcoming").checked
            //    },
            //    success: function (data) {
            //        $("#div_DocumentList").html(data);
            //        // alert('load_TabViewDocumentList DONE !!!');
            //    }
            //})
        }



        function submit_TabEditDocument () {

            try {
                alert('submit_TabEditDocument');
            }
            catch (err) {
                console.error(err);
                return;
            }
            //$.ajax({
            //    //url: '@Url.Action("ReloadEvents", "Home")',
            //    url: '/iWebMember/Development/load_TabViewDocumentList',
            //    data: {
            //        bldtknid: $("#iBuildingTokenID").val(),//document.getElementById("cbShowPrevious").checked,
            //        inftknid: $("#iInformationTokenID").val() //document.getElementById("cbShowUpcoming").checked
            //    },
            //    success: function (data) {
            //        $("#div_DocumentList").html(data);
            //        // alert('load_TabViewDocumentList DONE !!!');
            //    }
            //})
        }


        function isEmpty (el) {
            return !$.trim(el.html())
        }
        if (isEmpty($('#element'))) {
            // do something
        }

    </script>







    <script>


        var clearDropzone;


        Dropzone.autoDiscover = false;
        $(function () {
            var dz = null;
            $("#demo-upload").dropzone({
                autoProcessQueue: false,
                paramName: "File Upload",
                maxFilesize: 5, //mb
                maxThumbnailFilesize: 1, //mb
                maxFiles: 10,
                parallelUploads: 10,
                acceptedFiles: ".jpeg,.png,.jpg,.pdf,.docx,.doc,.xls,.xlsx",
                uploadMultiple: true,
                addRemoveLinks: true,
                //disablePreviews: true,

                init: function () {
                    dz = this;
                    $("#btnupload").click(function () {
                        dz.processQueue();
                        // $(this).attr("disabled", "disabled");
                        //$(this).removeAttr('disabled'));
                    });

                    //clearDropzone = function () {
                    //    dz.removeAllFiles(true);
                    //};

                },
                success: function (file) {
                    //var preview = $(file.previewElement);
                    //preview.addClass("dz-success text-success");
                    setTimeout(function () {
                        dz.removeFile(file);

                    }, 2000);

                },
                queuecomplete: function () {
                    //alert('Files Uploaded Successfully!');
                    dz.removeAllFiles(true);
                    open_TabViewDocuments();
                },
                dictDefaultMessage: "<div style='display:flex;flex-direction:column;'><div><b>Drag and drop your files here to upload.</b></div><div><img src='https://bsr.vemcoconsulting.com/img/img_upload.png' style='width:50px;height:50px;'/></div><div><span class='m-3' >- or -</span></div><div class='m-3'><span style='width:auto;height:40px;border:1px solid silver;border-radius:2px;padding:5px;color:black;background-color:white;'>Select from device</span></div></div>",
                dictRemoveFile: "Remove"
            });

        });

    </script>




    <script>




        $(document).ready(function () {

            try {


                $(".nav-tabs li button").click(function () {
                    $(this).tab('show');
                });

                $('.nav-tabs li button').on('shown.bs.tab', function (event) {
                    //var x = $(event.target).text();         // active tab
                    var x = $(event.target).data('tabcontent');         // active tab
                    //var y = $(event.relatedTarget).text();  // previous tab
                    //////$(".act span").text(x);
                    //////$(".prev span").text(y);

                    // alert('CLICKED TAB == ' + x);

                    if (x === 'upload') {
                        $('#div_CommandEdit').hide();
                        $('#div_CommandUpload').show();
                    }
                    else if (x === 'edit') {
                        $('#div_CommandEdit').show();
                        $('#div_CommandUpload').hide();
                    }
                    else if (x === 'view') {

                        // alert($("#div_DocumentList").is(':empty'));
                       // alert($("#div_DocumentList").length);
                        alert($.trim($("#div_DocumentList").html()).length);

                        //if ($("#div_DocumentList").html() === '') {
                        //    load_TabViewDocumentList();
                        //}

                        $('#div_CommandUpload').hide();
                        $('#div_CommandUpload').hide();

                    }
                    else {
                        $('#div_CommandUpload').hide();
                        $('#div_CommandUpload').hide();
                    }

                    //$('#div_CommandUpload').show();
                });

            }
            catch (err) {
                console.error(err);
                return;
            }

        });

    </script>


}