@{
}

@**@
<div id="main" style="margin-top:0px;padding-top:0px;">

    <div class="pagetitle" style="padding-top:0px;margin-bottom: 5px;">

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">View Building</a></li>
                <li class="breadcrumb-item active">Resident Engagement Form</li>
            </ol>
        </nav>
    </div>

    <section class="section" style="margin-top:0px;padding-top:0px;">

        <div class="row">

            <div class="p-3">

                <div>
                </div>

                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading0" style="background-color:whitesmoke;padding:3px;border-radius:3px;">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">


                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Instructions</span>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse0" class="accordion-collapse collapse show" aria-labelledby="heading0" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <p><span style="font-size:19px"><span style="font-weight:700"><span style="color:black"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">YOUR RESIDENT ENGAGEMENT STRATEGY</span></span></span></span></span></span></p>

                                <p>
                                    <span style="font-size:16px">
                                        <span style="color:black">
                                            <span style="font-weight:400">
                                                <span style="font-style:normal">
                                                    <span style="text-decoration:none">
                                                        <span style="font-family:Calibri,sans-serif">
                                                            The Resident Engagement Strategy should aim to create an inclusive and collaborative<br />
                                                            approach to building safety, fostering a strong partnership between residents and the<br />
                                                            Building Management Team. By tailoring communication methods and engaging<br />
                                                            residents through various channels, the goal is to empower occupants to take an<br />
                                                            active role in their safety and well-being within the building.
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>

                                <p><span style="font-size:16px"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">Within this document, you will find 6 separate tabs requiring your completion. Within each tab, you will need to complete columns B and D only.</span></span></span></span></span></span></p>

                                <p><span style="font-size:16px"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif"><font><span style="font-size:12pt"><span style="color:black"><span style="font-weight:700"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">Column A</span></span></span></span><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif"> - outlines the type of activity that would be deemed acceptable by the Building Safety Regularor.&nbsp;</span></span></span></span></span></span></font></span></span></span></span></span></span></p>

                                <p><span style="font-size:16px"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif"><font><span style="font-size:12pt"><span style="color:black"><span style="font-weight:700"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">Column B</span></span></span></span><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">&nbsp;- this is for your completion. If you undertake all the activities listed under Column A, you can simply respond Y to this question. However, if you do not undertake all the activities described in Column A or undertake other activities, please explain here.</span></span></span></span></span></span></font></span></span></span></span></span></span></p>

                                <p><span style="font-size:16px"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif"><font><span style="font-size:12pt"><span style="color:black"><span style="font-weight:700"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">Column C</span></span></span></span></span></span></font><font><span style="font-size:12pt"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif"> - this Column provides ideas of the type of documents that can be provided to evidence your undertakings listed in Column A or B.</span></span></span></span></span></span></font></span></span></span></span></span></span></p>

                                <p><span style="font-size:16px"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif"><font><span style="font-size:12pt"><span style="color:black"><span style="font-weight:700"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">Column D</span></span></span></span></span></span></font><font><span style="font-size:12pt"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif"> - this is for your completion. Please insert hyperlinks to the relevant evidence listed in Column C.</span></span></span></span></span></span></font></span></span></span></span></span></span></p>

                                <p><span style="font-size:16px"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">Please complete the table below providing as much information as possible. This will ensure the compilation of a comprehensive report that fully explains all that you do to give your residents a voice and ensure that they are informed about the safety of the building they occupy.</span></span></span></span></span></span></p>

                                <p><span style="font-size:16px"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><span style="font-family:Calibri,sans-serif">If you have any queries regarding completing this table, please contact: info@vemcoconsulting.com</span></span></span></span></span></span></p>



                            </div>
                        </div>
                    </div>



                    <div class="accordion-item">

                        <h2 class="accordion-header" id="heading1" style="background-color:whitesmoke;padding:3px;border-radius:3px;">


                            <button class="accordion-button collapsed" style="font-weight:normal;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">

                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_check_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Ocurrences & Complaints</span>

                                </div>

                            </button>

                        </h2>

                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                            <div class="accordion-body">



                                <table class="table table-hover table-bordered m-0" style="width:100%;padding:3px;table-layout:fixed;">
                                    <thead>
                                        <tr>
                                            @* @Model.ColumnDescription
                                            *@
                                            <th>ACTIIVITY</th>
                                            @* <th style="width:200px;">Y/N - If No, Describe Your Activities Here</th> *@
                                            @* class="text-center"
                                            *@
                                            <th class="text-center" style="width:200px;">The text on the left accurately describes what we do?</th>
                                            @* <th style="width:150px;">@Model.ColumnCriterion</th> *@
                                            @* class="fw-bold"
                                            *@
                                            <th style="width:200px;">Examples of Evidence</th>
                                            <th>Links to Evidence</th>
                                            @*<th class="fw-bold" style="width:110px;">@Model.ColumnScoreAdjused </th>
                                            <th class="fw-bold" style="width:50px;">Total</th>*@

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @*  @foreach (var iRow in Model.RowContentList!)
                                        { *@
                                        @* onclick="Popup_LoadForm('@iRow.AppTableTokenID','@iRow.TableTokenID','@iRow.BuildingTokenID','@iRow.InformationTokenID','clmscore_@iRow.InformationTokenID','clmrisk_@iRow.InformationTokenID');" *@


                                        <tr data-bs-toggle="modal">
                                            <td>
                                                <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>Internal Communication:&nbsp;</strong>The organisation ensures that all relevant personnel, including employees, contractors, and building management teams, are made aware of the mandatory occurrence reporting system. This information is communicated through comprehensive training sessions, written guidelines, and awareness campaigns.</span></span></p>
                                            </td>
                                            @* data-clmrisk="clmrisk_@iRow.InformationTokenID" *@
                                            <td class="text-center" style="width: 200px;">

                                                @*  YES/NO *@

                                                @*   <div class="d-flex align-items-end flex-column" style="height: 100%;background-color:red;">

                                                <div class="p-2">Flex item-a</div>
                                                <div class="p-2">Flex item-b</div>
                                                <div class="mt-auto p-2">Flex item-c</div>

                                                </div> *@

                                                <strong style="margin:10px;">You will not able to generate a &quot;Gap Analysis&quot; report untill you've responded.</strong>


                                                <div style="width:180px;background-color:whitesmoke;border-radius:5px;padding:3px;margin-top:10px;">



                                                    @* checked *@

                                                    <div class="d-flex flex-row text-center" style="vertical-align:top;text-align:left;margin:5px;">
                                                        <a href="#" type="button" class="btn btn-outline-secondary" style="width:140px;font-size:medium;"
                                                           data-bs-toggle="modal" onclick="Popup_LoadForm('0','0','0','0','0','0','0','0','0');">
                                                            YES
                                                        </a>
                                                        <img src="~/img/img_question.png"
                                                             style="width:15px;height:15px;margin:3px;"
                                                             data-toggle="tooltip" data-placement="bottom" title="Press this button if text on the left accurately describes what you do in this area." />
                                                    </div>



                                                    <div class="d-flex flex-row text-center" style="vertical-align:top;text-align:left;margin:5px;">
                                                        <button type="button" class="btn btn-outline-secondary" style="width:140px;font-size:medium;">
                                                            NO
                                                        </button>
                                                        <img src="~/img/img_question.png"
                                                             style="width:15px;height:15px;margin:3px;"
                                                             data-toggle="tooltip" data-placement="bottom" title="Press this button if text on the left does NOT describe what you do, and type your own descrpition in the dialog box that appears." />
                                                    </div>



                                                    <div class="d-flex flex-row text-center" style="vertical-align:top;text-align:left;margin:5px;">
                                                        <button type="button" class="btn btn-outline-secondary" style="width:140px;font-size:medium;">
                                                            NIL RETURN
                                                        </button>
                                                        <img src="~/img/img_question.png"
                                                             style="width:15px;height:15px;margin:3px;"
                                                             data-toggle="tooltip" data-placement="bottom" title="Press this button if you carry up NO activity in this area." />
                                                    </div>




                                                    @* Press this button if text on the left accurately describes what you do in this area *@
                                                    @*   <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off"
                                                    style="width:60px;">
                                                    <label class="btn btn-outline-success" for="success-outlined">YES</label>

                                                    *@
                                                    @* Press this button if text on the left does NOT describe what you do, and type your own descrpitoin in the dialog box that appears.*@
                                                    @* <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off"
                                                    style="width:60px;margin-left:20px;">
                                                    <label class="btn btn-outline-danger" for="danger-outlined">NO</label> *@


                                                    @* Press this button if you carry up NO activity in this area. *@
                                                    @*  <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off"
                                                    style="width:60px;margin-left:20px;">
                                                    <label class="btn btn-outline-danger" for="danger-outlined">NIL RETURN</label> *@
                                                    @* NO LINKS HERE *@
                                                    @*  Text on the report REPLACED WITH >>> "Work is currently being developed for this area'"
                                                    *@

                                                </div>




                                                @*   @if (iRow.ColumnRiskControlMeasure != "0")
                                                {
                                                @Html.Raw(@iRow.ColumnRiskControlMeasure)
                                                } *@
                                            </td>

                                            <td>
                                                Copy of the documented system and guidelines. Dates of training sessions (dates and topics covered). Examples of campaigns

                                                @*  @if (iRow.ColumnCommentary != "0")
                                                {
                                                @iRow.ColumnCommentary
                                                } *@
                                            </td>

                                            <td>
                                                Provide hyperlinks to evidence here.
                                                @*  <table>

                                                @if (iRow.ColumnCriterionList.Count > 0)
                                                {

                                                @foreach (var iRowNested in iRow.ColumnCriterionList!)
                                                {

                                                <tr>


                                                @if (iRowNested == iRow.ColumnCriterionList.Last())
                                                {

                                                <td class="text-center" style="padding-top:3px;padding-bottom:3px;border-bottom: 1px transparent solid;width:150px;">
                                                <small>@iRowNested.CriterionText</small>
                                                </td>

                                                }
                                                else
                                                {
                                                <td class="text-center" style="padding-top:3px;padding-bottom:3px;border-bottom: 1px silver solid;width:150px;">
                                                <small>@iRowNested.CriterionText</small>
                                                </td>
                                                }


                                                </tr>
                                                }

                                                }

                                                </table> *@
                                            </td>

                                            @*   <td class="fw-bold text-center" style="width:50px;">@iRow.ColumnScoreOriginal</td>


                                            <td class="fw-bold text-center" style="width:110px;" data-clmscore="clmscore_@iRow.InformationTokenID">@iRow.ColumnScoreAdjused</td>

                                            *@

                                        </tr>



                                        <tr data-bs-toggle="modal">
                                            <td>

                                                <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>Liaison with other Accountable persons:&nbsp;</strong>The organisation establishes liaison arrangements with other accountable persons involved in the building safety, including building owners, developers, and maintenance companies. &nbsp;This ensures seamless information sharing and cooperation in reporting occurrences and implementing remedial actions.</span></span></p>

                                            </td>
                                            @* data-clmrisk="clmrisk_@iRow.InformationTokenID" *@
                                            <td class="text-break" style="max-width: 150px;height: 100%;">

                                                @*  YES/NO *@

                                                @*   <div class="d-flex align-items-end flex-column" style="height: 100%;background-color:red;">

                                                <div class="p-2">Flex item-a</div>
                                                <div class="p-2">Flex item-b</div>
                                                <div class="mt-auto p-2">Flex item-c</div>

                                                </div> *@



                                                <div class="text-center align-middle ms-auto me-auto mt-auto mb-0" style="color:darkorange;background-color:whitesmoke;border-radius:5px;padding:3px;">

                                                    @* checked *@ <input type="radio" class="btn-check" name="options-outlined2" id="success-outlined2" autocomplete="off"
                                                                         style="width:60px;">
                                                    <label class="btn btn-outline-success" for="success-outlined2">YES</label>

                                                    <input type="radio" class="btn-check" name="options-outlined2" id="danger-outlined2" autocomplete="off"
                                                           style="width:60px;margin-left:20px;">
                                                    <label class="btn btn-outline-danger" for="danger-outlined2">NO</label>

                                                </div>




                                                @*   @if (iRow.ColumnRiskControlMeasure != "0")
                                                {
                                                @Html.Raw(@iRow.ColumnRiskControlMeasure)
                                                } *@
                                            </td>

                                            <td>
                                                Minutes of meetings
                                                @*  @if (iRow.ColumnCommentary != "0")
                                                {
                                                @iRow.ColumnCommentary
                                                } *@
                                            </td>

                                            <td style="padding-left:15px;">

                                                @* Provide hyperlinks to evidence here. *@
                                                <ul style="padding:5px;">
                                                    <li>
                                                        <a href="#">link1101</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">link1101</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">link1101</a>
                                                    </li>
                                                </ul>

                                                @*  <table>

                                                @if (iRow.ColumnCriterionList.Count > 0)
                                                {

                                                @foreach (var iRowNested in iRow.ColumnCriterionList!)
                                                {

                                                <tr>


                                                @if (iRowNested == iRow.ColumnCriterionList.Last())
                                                {

                                                <td class="text-center" style="padding-top:3px;padding-bottom:3px;border-bottom: 1px transparent solid;width:150px;">
                                                <small>@iRowNested.CriterionText</small>
                                                </td>

                                                }
                                                else
                                                {
                                                <td class="text-center" style="padding-top:3px;padding-bottom:3px;border-bottom: 1px silver solid;width:150px;">
                                                <small>@iRowNested.CriterionText</small>
                                                </td>
                                                }


                                                </tr>
                                                }

                                                }

                                                </table> *@
                                            </td>

                                            @*   <td class="fw-bold text-center" style="width:50px;">@iRow.ColumnScoreOriginal</td>


                                            <td class="fw-bold text-center" style="width:110px;" data-clmscore="clmscore_@iRow.InformationTokenID">@iRow.ColumnScoreAdjused</td>

                                            *@

                                        </tr>





                                        @*  } *@


                                        @*  <tr>
                                        <td class="fw-bold" colspan="5">Total score:</td>
                                        <td class="fw-bold text-center" data-clmtotal="clmtotal">@Model.ColumnScoreTotal</td>
                                        </tr> *@
                                    </tbody>
                                </table>




                            </div>
                        </div>

                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2" style="background-color:whitesmoke;padding:3px;border-radius:3px;">
                            <button class="accordion-button collapsed" style="font-weight:bold;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">


                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Best Way of Communicating</span>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">

                            @await Component.InvokeAsync("BuildingQueryFormList",new {bldtknid="1689793058866",inftknid="1689793069675"})
                            
                            @*  <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div> *@
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3" style="background-color:whitesmoke;padding:3px;border-radius:3px;">
                            <button class="accordion-button collapsed" style="font-weight:normal;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">

                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_question_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Tailoring Communication</span>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>




                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4" style="background-color:whitesmoke;padding:3px;border-radius:3px;">
                            <button class="accordion-button collapsed" style="font-weight:bold;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">


                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Communication Overview</span>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>




                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading5" style="background-color:whitesmoke;padding:3px;border-radius:3px;">
                            <button class="accordion-button collapsed" style="font-weight:bold;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">


                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Summary of Resident Feedback</span>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>




                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading6" style="background-color:whitesmoke;padding:3px;border-radius:3px;">
                            <button class="accordion-button collapsed" style="font-weight:bold;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">


                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Future Communication</span>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>




                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading7" style="background-color:whitesmoke;padding:3px;border-radius:3px;">
                            <button class="accordion-button collapsed" style="font-weight:bold;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">

                                <div style="padding:0px;margin:0px;">
                                    <img src="~/img/img_circle_black.png"
                                         style="width:20px;height:20px;margin:0px;padding:0px;" />
                                    <span style="margin-left:5px;">Consultation Process for Change</span>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>










                </div>


                @*    @await Component.InvokeAsync("CMS_PageViewHTMLContent","terms")
                *@
            </div>

        </div>
    </section>





    @*POPUP-popupModalEditor*@
    <div class="modal" id="popupModalEditor">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header" style="background-color:whitesmoke;">
                    <h4 class="modal-title">Upload Documents</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    @*  <button onclick="openEdit();" value="tab" />*@

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li id='tab_Preview' class="nav-item" role="presentation">
                            <button class="nav-link active" id="btn_Preview" data-bs-toggle="tab" data-bs-target="#content_Preview" type="button" role="tab" aria-controls="home" aria-selected="true" data-tabcontent="preview">Preview</button>
                        </li>
                        <li id='tab_View' class="nav-item" role="presentation">
                            <button class="nav-link" id="btn_View" data-bs-toggle="tab" data-bs-target="#content_View" type="button" role="tab" aria-controls="profile" aria-selected="false" data-tabcontent="view">View Files</button>
                        </li>
                        <li id='tab_Upload' class="nav-item" role="presentation">
                            <button class="nav-link" id="btn_Upload" data-bs-toggle="tab" data-bs-target="#content_Upload" type="button" role="tab" aria-controls="messages" aria-selected="false" data-tabcontent="upload">Upload Files</button>
                        </li>
                        <li id='tab_Edit' class="nav-item" role="presentation">
                            <button class="nav-link" id="btn_Edit" data-bs-toggle="tab" data-bs-target="#content_Edit" type="button" role="tab" aria-controls="settings" aria-selected="false" data-tabcontent="edit">Edit</button>
                        </li>
                        @*   <li id='tab_Progress' class="nav-item" role="presentation">
                        <button class="nav-link" id="btn_Progress" data-bs-toggle="tab" data-bs-target="#content_Progress" type="button" role="tab" aria-controls="settings" aria-selected="false" data-tabcontent="progress">Progress</button>
                        </li> *@
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="content_Preview" role="tabpanel" aria-labelledby="home-tab">


                            @* <div class="row">



                            <div class="list-group list-group-flush m-3">


                            <a href="#" class="list-group-item list-group-item-action bg-transparent"   >*@

                            <div class="row mt-3 mb-3">

                                @* <div id="iInformationText" class="col-10"></div>

                                <div class="col-2 text-end" style="float:right;">

                                    <small id="iDocumentCount" class="me-3 badge bg-primary rounded-pill text-end" style="float:right;">11</small>


                                </div>
 *@



                            </div>


                            @* background-color:orange; *@

                        </div>

                        <div class="tab-pane" id="content_View" role="tabpanel" aria-labelledby="profile-tab">

                            <div id="div_DocumentList" class="row
mb-3"></div>

                        </div>

                        <div class="tab-pane" id="content_Upload" role="tabpanel" aria-labelledby="messages-tab">

                            @*class="row m-3"*@

                            <div id="div_DocumentUpload" class="mt-3 me-3" style="width:100%;display:flex;flex-direction:column;">

                                <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                                    <div class="col-11">
                                        <input type="text" class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="Insert your hyperlink here ..."
                                               required />
                                    </div>

                                    @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                                    <div class="col-1 text-center" style="width:50px;">
                                        <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                                    </div>



                                </div>


                                @*File 2*@
                                @*                                 <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                                <div class="col-11" >
                                <input type="text" class="form-control" id="input_fileURL2" name="input_fileURL2" placeholder="Insert your hyperlink here ..."
                                required />
                                </div>

                                <div class="col-1 text-center" style="width:50px;">
                                <img  id="img_delURL2"  name="img_delURL2"  src="~/img/img_delete.png" style="width:20px;height:20px;" alt="Delete" title="Delete" />
                                </div>
                                </div> *@



                            </div>

                            <div class="mt-3" style="width:100%;display:flex;flex-direction:row;justify-content:space-between;">
                                @*   <span class="text-muted">
                                You may use Google drive or other similar platforms to produce a hyperlink to your document. Please provide the hyperlink to your file in the box above.
                                </span> *@

                                <span class="text-muted flex-start" style="width:70%;font-size:small;padding:5px;">
                                    (You may use Google drive or other similar platforms to produce a hyperlink to your document. Please provide the hyperlink to your file in the box above.)
                                </span>


                                <input id="btn_NewFileHyperlink" type="button" class="btn btn-outline-dark flex-end" style="width:200px;font-size:medium;float:right;" value="Add new hyperlink" />


                            </div>
                           
                            @*  <div class="row m-3" id="dropzone">
                            <form action="/iWebMember/Development/UploadFiles" asp-antiforgery="true" class="dropzone"
                            id="demo-upload" name="filedata" enctype="multipart/form-data" method="post" data-parsley-validate>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="form-row">
                            </div>
                            <input id="hdn_InformationTokenID" name="hdn_InformationTokenID" type="hidden" value="0" />
                            <input id="iAppinformationTokenID" name="iAppinformationTokenID" type="hidden" value="0" />
                            <input id="iInformationTokenID" name="iInformationTokenID" type="hidden" value="0" />
                            <input id="iBuildingTokenID" name="iBuildingTokenID" type="hidden" value="0" />
                            <input id="iDocumentTokenID" name="iDocumentTokenID" type="hidden" value="0" />
                            <input id="iTimeFrame" name="iTimeFrame" type="hidden" value="0" />
                            <input id="iDocumentCount" name="iDocumentCount" type="hidden" value="0" />
                            </form>
                            </div> *@


                        </div>

                        <div class="tab-pane" id="content_Edit" role="tabpanel" aria-labelledby="messages-tab">



                            <div class="mt-3 mb-3" id="popup_FormContent">
                                @* @await Component.InvokeAsync("Editor")*@

                                @*class="ms-3 me-3 mb-3"*@

                                <table class="ms-1">




                                    <tr>
                                        <td style="text-align:left;vertical-align:text-top;padding:0px;">
                                            <img src="~/img/img_file_pdf.png" style="width:20px;height:20px;margin:0px;" />
                                        </td>

                                        <td style="width:100%;text-align:left;vertical-align:text-top;padding:0px;">

                                            <div class="p-1" style="display:flex;flex-direction:column;">
                                                <a id="iDocumentName" name="iDocumentName" target="_blank" style="text-decoration:underline;">File_1101.pdf (151.2KB)</a>

                                            </div>
                                        </td>

                                    </tr>

                                </table>




                                @*                                placeholder="dd-mm-yyyy" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"*@

                                <div class="mt-3">
                                    <label class="form-label">Document publication date:</label>
                                    <input class="form-control"
                                           type="text" id="iDocumentDateStart" name="iDocumentDateStart"
                                           style="text-transform:uppercase;" required>

                                </div>

                                <div class="mt-3">
                                    <label class="form-label">Document description:</label>
                                    <textarea id="txt_HTMLContent" name="txt_HTMLContent" style="width:100%;height:auto;" rows="20" class="form-control">
                                        default
                                    </textarea>

                                </div>

                            </div>


                        </div>

                        @*
                        <div class="tab-pane" id="content_Progress" role="tabpanel" aria-labelledby="settings-tab">
                        <div class="text-center">
                        <img src="~/img/loading.gif" width="auto" height="auto" style="margin:auto;" />
                        </div>
                        </div>
                        *@

                    </div>













                </div>
                <div class="modal-footer">
                    <div style="width:100%;display:flex;flex-direction:row;justify-content: space-between;">

                        <div class="flex-start">

                            <div id="div_CommandUpload" class="flex-start">
                                <button type="button" id="btnupload" class="btn btn-primary">Upload</button>
                                 <span> Max files to upload (10s)</span>
                            </div>

                            <div id="div_CommandEdit" class="flex-start">
                                <button type="button" id="btnSubmitUpdate" onclick="submit_TabEditDocument();" class="btn btn-primary">Submit</button>

                                <a class="btn btn-danger" onclick="cancel_TabEditDocument();">Cancel</a>
                            </div>

                            @*  <div id="div_CommandPreview" class="flex-start">
                            <span style="color:red;">Click here if you NOT have this document. </span><button type="button" class="btn btn-outline-danger" style="width:90px;font-size:medium;margin:5px;">Submit</button>
                            </div> *@

                        </div>

                        <div class="flex-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>


<script>

    let editor;

    ClassicEditor
        .create(document.querySelector('#txt_HTMLContent'))
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });



</script>


<script>

    function clickRow(obj) {

        try {

            //alert(' am clicked == ' + $('#popupModalEditor'));

            //jQuery.noConflict();
            $('#popupModalEditor').modal('show');

        }

        catch (ex) {
            alert(ex);

        }
    }



    function readValue(obj) {

        try {

            // var divTestMe = document.getElementById('divTestMe');
            // var divTestMe = document.getElementById('txt_HTMLContent');
            // var divTestMe = document.getElementById('iScoreAdjusted');

            //   alert(divTestMe.innerHTML);
            //alert(divTestMe.textContent);
            //   alert(divTestMe.innerHTML);

            //   alert($("#txt_HTMLContent").val());

            //  alert( ClassicEditor.instances[ 'txt_HTMLContent' ].getData());

            alert(editor.getData());

            //jQuery.noConflict();
            //$('#popupModalEditor').modal('show');

        }

        catch (ex) {
            alert(ex);

        }
    }




    window.apptbltknid;
    window.tbltknid;
    window.bldtknid;
    window.inftknid;
    window.clmscore;
    window.clmrisk;

    function Popup_PostForm() {

        try {

            //alert('inftknid == ' + window.inftknid);

            var clmn_Score = $("[data-clmscore='clmscore_" + inftknid + "']");
            var clmn_RiskMeasure = $("[data-clmrisk='clmrisk_" + inftknid + "']");
            var clmn_Total = $("[data-clmtotal='clmtotal']");

            var txt_RiskControlMeasure = '0';
            var visible_RiskControlMeasure = '0';

            if (editor.getData() == '') {
                txt_RiskControlMeasure = "0";
                visible_RiskControlMeasure = "";
            }
            else {
                txt_RiskControlMeasure = editor.getData();
                visible_RiskControlMeasure = editor.getData();

            }

            var iScoreAdjusted = document.getElementById('iScoreAdjusted');



            $.ajax({
                type: "POST",

                //url: @Url.Action("Update_Score_ByInformationTokenID","Development",new { Area = "iWebMember" }),
                url: '/iWebMember/Development/Update_Score_ByInformationTokenID',

                data: {
                    iAppTableTokenID: apptbltknid,
                    iTableTokenID: tbltknid,
                    iBuildingTokenID: bldtknid,
                    iInformationTokenID: inftknid,
                    iScoreAdjusted: iScoreAdjusted.value,
                    iRiskControlMeasure: txt_RiskControlMeasure
                },
                success: function (result) {


                    clmn_Score.html(iScoreAdjusted.value);
                    clmn_RiskMeasure.html(visible_RiskControlMeasure);
                    clmn_Total.html(result.total);


                    BSR_ShowToastMessage('update');


                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            });




            $('#popupModalEditor').modal('hide');







            //////$.ajax({
            //////    url: "/iWebMember/Development/GetImage",
            //////    type: 'POST',
            //////    //dataType: 'json',
            //////    data: { divhtml: $("#div_diagram").html() },
            //////    success: function (data) { }
            //////});










            //////   // var divTestMe = document.getElementById('divTestMe');
            //////var divTestMe = document.getElementById('txt_HTMLContent');

            ////// //   alert(divTestMe.innerHTML);
            //////    alert(divTestMe.textContent);

            //////    //jQuery.noConflict();
            //////    //$('#popupModalEditor').modal('show');

        }

        catch (ex) {
            alert(ex);

        }
    }



    function Popup_LoadForm(apptbltknid, tbltknid, bldtknid, inftknid, clmscore, clmrisk) {

        try {


            window.apptbltknid = apptbltknid;
            window.tbltknid = tbltknid;
            window.bldtknid = bldtknid;
            window.inftknid = inftknid;
            window.clmscore = clmscore;
            window.clmrisk = clmrisk;

            //alert('popup form here' + bldtknid + " , " + inftknid + " , " + clmscore + " , " + clmrisk);

            // // // // // // var clmn_Score = $("[data-clmscore='clmscore_" + inftknid + "']");
            // // // // // // var clmn_RiskMeasure = $("[data-clmrisk='clmrisk_" + inftknid + "']");

            // // // // // // var txt_RiskControlMeasure = '0';

            // // // // // // if (editor.getData() == '') {
            // // // // // //     txt_RiskControlMeasure = "0";
            // // // // // // }
            // // // // // // else {
            // // // // // //     txt_RiskControlMeasure = editor.getData();

            // // // // // // }



            // // // // // // //var divTestMe = document.getElementById('txt_HTMLContent');
            // // // // // // var iScoreAdjusted = document.getElementById('iScoreAdjusted');

            // // // // // // //  iScoreAdjusted.value = '3';
            // // // // // // iScoreAdjusted.value = clmn_Score.html();

            // // // // // // editor.setData(clmn_RiskMeasure.html());



            $('#tab_Edit').hide();
            //$('#tab_Progress').hide();

            $('#div_CommandUpload').hide();
            $('#div_CommandEdit').hide();

            // $('#myTab button[bs-target="#edit"]').tab('show'); // Select tab by name`

            $("#btn_View").removeClass("active");
            //$("#btn_Progress").removeClass("active");
            $("#btn_Edit").removeClass("active");
            $("#btn_Upload").removeClass("active");

            $("#content_View").removeClass("active");
            //$("#content_Progress").removeClass("active");
            $("#content_Edit").removeClass("active");
            $("#content_Upload").removeClass("active");

            $("#btn_Preview").addClass("active");
            $("#content_Preview").addClass("active");



            $('#popupModalEditor').modal('show');


        }

        catch (ex) {
            //  alert(ex);
            console.log(ex);
        }
    }






    $(document).ready(function () {






    });





</script>




<script>




    $(document).ready(function () {

        try {


            //  // // // // XXX  $("#btnupload").click(function (e) {
            // // // // //     e.preventDefault();
            // // // // //     dz.processQueue();
            // // // // //     // $(this).attr("disabled", "disabled");
            // // // // //     //$(this).removeAttr('disabled'));
            // // // // //     open_TabViewProgress();
            // // // // // });

            $('#btnupload').on('click', function (e) {

                try {


                    ////////////////////////////////////////////////////////////////

                    e.preventDefault();
                    dz.options.autoProcessQueue = true;
                    dz.processQueue();

                    open_TabViewProgress();

                }

                catch (err) {
                    alert(err);
                }


            });




            ///////////////////////////////////////////////







            $(".nav-tabs li button").click(function () {
                $(this).tab('show');
            });

            $('.nav-tabs li button').on('shown.bs.tab', function (event) {
                //var x = $(event.target).text();         // active tab
                var x = $(event.target).data('tabcontent');         // active tab
                //var y = $(event.relatedTarget).text();  // previous tab
                //////$(".act span").text(x);
                //////$(".prev span").text(y);

                // alert('CLICKED TAB == ' + x);

                if (x === 'upload') {
                    $('#div_CommandEdit').hide();
                    $('#div_CommandPreview').hide();
                    $('#div_CommandUpload').show();
                }
                else if (x === 'edit') {
                    $('#div_CommandEdit').show();
                    $('#div_CommandPreview').hide();
                    $('#div_CommandUpload').hide();
                }
                else if (x === 'preview') {


                    $('#div_CommandEdit').hide();
                    $('#div_CommandUpload').hide();
                    $('#div_CommandPreview').hide();

                }

                else if (x === 'view') {

                    // alert($("#div_DocumentList").is(':empty'));
                    // alert($("#div_DocumentList").length);

                    //alert($.trim($("#div_DocumentList").html()).length);

                    //if ($.trim($("#div_DocumentList").html()).length === 0) {
                    //    //alert('load_TabViewDocumentList');
                    //    load_TabViewDocumentList();
                    //}

                    $('#div_CommandEdit').hide();
                    $('#div_CommandPreview').hide();
                    $('#div_CommandUpload').hide();

                }
                else {
                    $('#div_CommandEdit').hide();
                    $('#div_CommandUpload').hide();
                    $('#div_CommandPreview').hide();
                }


                //  $('#div_CommandUpload').show();

            });

            $("#iDocumentDateStart")
                .datepicker({
                    //dateFormat: 'dd-mm-yy, DD',
                    dateFormat: 'dM, yy',
                    //defaultDate: "24-09-2019"

                    orientation: "bottom",
                    // add this for placemenet
                });
            // .click(function (e) {
            //         $('.ui-datepicker').css('bottom left', e.pageY);
            //     });

            //$datepicker.datepicker('setDate', new Date());
            $("#iDocumentDateStart").datepicker("setDate", new Date());
            //iDocumentDateStart

            ////////////$("#datepicker").datepicker({ dateFormat: "DD, d MM, yy" });
            ////////////$("#datepicker").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", "2017-11-16"));


            //$("#datepicker").datepicker();
            //$("#datepicker").datepicker("setDate", "06/01/21");

            // https://stackoverflow.com/questions/35013820/how-to-pass-date-value-created-by-datepicker-to-a-mvc-5-controller-with-ajax

            ///////////////////////////////////////


            var max_fields = 10;
            var img_NewURL1 = $('#img_NewURL1');
            var $add_input_button = $('#btn_NewFileHyperlink');
            var $field_wrapper = $('#div_DocumentUpload');
            var new_field_html_X1 = '<div><input name="title[]" class="form-control form-item type="text" value="" data-label="title" /><a href="javascript:void(0);" class="remove_input_button" title="remove field">-</a></div>';
            var new_field_html = '<div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;"><div class="col-11" ><input type="text" class="form-control" id="input_fileURL2" name="input_fileURL2" placeholder="Insert your hyperlink here ..." required /></div><div class="col-1 text-center" style="width:50px;" ><img id="img_delURL2" name="img_delURL2" class="remove_input_button"  src="https://bsr.vemcoconsulting.com/img/img_delete.png" style="width:20px;height:20px;" alt="Delete" title="Delete" /></div></div>';
            var input_count = 1;

            //add inputs
            img_NewURL1.click(function () {
                if (input_count < max_fields) {
                    input_count++;
                    $field_wrapper.append(new_field_html);
                }
            });

          
            //add inputs
            $add_input_button.click(function () {
                if (input_count < max_fields) {
                    input_count++;
                    $field_wrapper.append(new_field_html);
                }
            });

            //remove_input
            $field_wrapper.on('click', '.remove_input_button', function (e) {
                e.preventDefault();
                $(this).parent('div').parent('div').remove();
                input_count--;
            });

        }
        catch (err) {
            console.error(err);
            return;
        }

    });

</script>




