@model BSRVemcoCS.iAppViewModel.AppDevelomentTable1EditViewModel

@{


}



@* class="row"<main id="main" class="main">*@
<div id="main" style="margin-top:0px;padding-top:10px;">

    <div class="pagetitle" style="padding-top:0px;">
        @*<h1>Company Name</h1>*@
        <nav>
            <ol class="breadcrumb">
                @*href="index.html"*@
                <li class="breadcrumb-item"><a>Developments</a></li>
                <li class="breadcrumb-item active">New</li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->
    @*class="section dashboard" style="margin-top:0px;padding-top:0px;"*@
    <section>

        @*  <p> Click on button to display popup modal function </p>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#popupModal">
        Open modal function
        </button>
        *@


        <div class="row">

            <span class="fs-5 ms-3">Risk-Based Quality Assessment</span>

        </div>

        @*<div style="overflow-x:auto;">*@

        <table class="table table-hover table-bordered m-3" style="width:100%;padding:3px;table-layout:fixed;">
            <thead>
                <tr>
                    <th>@Model.ColumnDescription</th>
                    <th>@Model.ColumnCommentary</th>
                    <th style="width:150px;">@Model.ColumnCriterion</th>
                    <th class="fw-bold" style="width:50px;">@Model.ColumnScore</th>
                    <th>@Model.ColumnRiskControlMeasure</th>
                    <th class="fw-bold" style="width:110px;">@Model.ColumnScoreAdjused </th>
                    @*<th class="fw-bold" style="width:50px;">Total</th>*@

                </tr>
            </thead>
            <tbody>
                @*@for (var i = 0; i < Model.PrescriptionList.Count; i++)*@
                @*@for ( var i = 0 ; i < Model.RowContentList.Count! ; i++ )*@
                @foreach ( var iRow in Model.RowContentList! )
                {

                    <tr data-bs-toggle="modal" onclick="Popup_LoadForm('@iRow.AppTableTokenID','@iRow.TableTokenID','@iRow.BuildingTokenID','@iRow.InformationTokenID','clmscore_@iRow.InformationTokenID','clmrisk_@iRow.InformationTokenID');">
                        <td>@iRow.ColumnDescription</td>
                        <td>
                            @if ( iRow.ColumnCommentary != "0" )
                            {
                                @iRow.ColumnCommentary
                            }
                        </td>
                        <td>
                            <table>
                                @*@for ( int ii = 0 ; ii < 4 ; ii++ )*@
                                @if ( iRow.ColumnCriterionList.Count > 0  )
                                {

                                    @foreach ( var iRowNested in iRow.ColumnCriterionList! )
                                    {

                                        <tr>


                                            @if ( iRowNested == iRow.ColumnCriterionList.Last ( ) )
                                            {

                                                <td class="text-center" style="padding-top:3px;padding-bottom:3px;border-bottom: 1px transparent solid;width:150px;">
                                                    <small>@iRowNested.CriterionText</small>
                                                </td>

                                            }
                                            else
                                            {
                                                <td class="text-center" style="padding-top:3px;padding-bottom:3px;border-bottom: 1px silver solid;width:150px;">
                                                    <small>@iRowNested.CriterionText</small>
                                                </td>
                                            }


                                        </tr>
                                    }

                                }

                            </table>
                        </td>
                        <td class="fw-bold text-center" style="width:50px;">@iRow.ColumnScoreOriginal</td>
                        @*class="d-inline-block text-truncate" style="max-width: 150px;"*@

                        <td class="text-break" style="max-width: 150px;" data-clmrisk="clmrisk_@iRow.InformationTokenID">
                            @if ( iRow.ColumnRiskControlMeasure != "0" )
                            {
                                @Html.Raw(@iRow.ColumnRiskControlMeasure)
                            }
                        </td>
                        <td class="fw-bold text-center" style="width:110px;" data-clmscore="clmscore_@iRow.InformationTokenID">@iRow.ColumnScoreAdjused</td>
                        @*<td class="fw-bold text-center" style="width:50px;">@iRow.ColumnTotal</td>*@

                        @* <td>@Html.DropDownListFor(m => Model.PrescriptionList[i].MedicineId, new SelectList(ViewBag.MedicineId, "Id", "Name"))</td>
                    <td>@Html.DropDownListFor(m => Model.PrescriptionList[i].PrescriptionDurationId, new SelectList(ViewBag.PrescriptionFrequencyId, "Id", "Name"))</td>
                    *@

                    </tr>
                }
                <tr>
                    <td class="fw-bold" colspan="5">Average score:</td>
                    <td class="fw-bold text-center" data-clmtotal="clmtotal">@Model.ColumnScoreAverage</td>
                </tr>
           
            </tbody>

          
        </table>
        @*</div>*@

    </section>


    @*POPUP*@
    <div class="modal" id="popupModalEditor">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header" style="background-color:whitesmoke;">
                    <h4 class="modal-title">Risk-Based Quality Assessment</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">



                    <div id="popup_FormContent">
                        @* @await Component.InvokeAsync("Editor")*@


                        <div class="ms-3 me-3 mb-3">
                            <label class="form-label">Adjusted Score:</label>
                            <input class="form-control"
                                   type="number" id="iScoreAdjusted" name="iScoreAdjusted" min="1" max="5">

                        </div>

                        <div class="ms-3 me-3 mb-3">
                            <label class="form-label">Risk Control Measure:</label>
                            <textarea id="txt_HTMLContent" name="txt_HTMLContent" style="width:100%;height:auto;" rows="20" class="form-control">
                                        default
                                    </textarea>

                        </div>

                        @*@Model.PageHTMLContent*@



                        @* <div id="txt_HTMLContent" style="height:200px;"></div>*@


                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @*data-bs-dismiss="modal"*@   <button type="button" class="btn btn-primary"
                                                          onclick="Popup_PostForm( );">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>



<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>


<script>

    let editor;

    ClassicEditor
        .create(document.querySelector('#txt_HTMLContent'))
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });



</script>




<script>

    function clickRow (obj) {

        try {

            //alert(' am clicked == ' + $('#popupModalEditor'));

            //jQuery.noConflict();
            $('#popupModalEditor').modal('show');

        }

        catch (ex) {
            alert(ex);

        }
    }



    function readValue (obj) {

        try {

            // var divTestMe = document.getElementById('divTestMe');
            // var divTestMe = document.getElementById('txt_HTMLContent');
            // var divTestMe = document.getElementById('iScoreAdjusted');

            //   alert(divTestMe.innerHTML);
            //alert(divTestMe.textContent);
            //   alert(divTestMe.innerHTML);

            //   alert($("#txt_HTMLContent").val());

            //  alert( ClassicEditor.instances[ 'txt_HTMLContent' ].getData());

            alert(editor.getData());

            //jQuery.noConflict();
            //$('#popupModalEditor').modal('show');

        }

        catch (ex) {
            alert(ex);

        }
    }




    window.apptbltknid;
    window.tbltknid;
    window.bldtknid;
    window.inftknid;
    window.clmscore;
    window.clmrisk;

    function Popup_PostForm () {

        try {

            //alert('inftknid == ' + window.inftknid);

            var clmn_Score = $("[data-clmscore='clmscore_" + inftknid + "']");
            var clmn_RiskMeasure = $("[data-clmrisk='clmrisk_" + inftknid + "']");
            var clmn_Total = $("[data-clmtotal='clmtotal']");

            var txt_RiskControlMeasure = '0';
            var visible_RiskControlMeasure = '0';

            if (editor.getData() == '') {
                txt_RiskControlMeasure = "0";
                visible_RiskControlMeasure = "";
            }
            else {
                txt_RiskControlMeasure = editor.getData();
                visible_RiskControlMeasure = editor.getData();

            }

            var iScoreAdjusted = document.getElementById('iScoreAdjusted');



            $.ajax({
                type: "POST",

                //url: @Url.Action("Update_Score_ByInformationTokenID","Development",new { Area = "iWebMember" }),
                url: '/iWebMember/Development/Update_Score_ByInformationTokenID',

                data: {
                    iAppTableTokenID: apptbltknid,
                    iTableTokenID: tbltknid,
                    iBuildingTokenID: bldtknid,
                    iInformationTokenID: inftknid,
                    iScoreAdjusted: iScoreAdjusted.value,
                    iRiskControlMeasure: txt_RiskControlMeasure
                },
                success: function (result) {


                    clmn_Score.html(iScoreAdjusted.value);
                    clmn_RiskMeasure.html(visible_RiskControlMeasure);
                    clmn_Total.html(result.total);

                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            });




            $('#popupModalEditor').modal('hide');







            //////$.ajax({
            //////    url: "/iWebMember/Development/GetImage",
            //////    type: 'POST',
            //////    //dataType: 'json',
            //////    data: { divhtml: $("#div_diagram").html() },
            //////    success: function (data) { }
            //////});










            //////   // var divTestMe = document.getElementById('divTestMe');
            //////var divTestMe = document.getElementById('txt_HTMLContent');

            ////// //   alert(divTestMe.innerHTML);
            //////    alert(divTestMe.textContent);

            //////    //jQuery.noConflict();
            //////    //$('#popupModalEditor').modal('show');

        }

        catch (ex) {
            alert(ex);

        }
    }



    function Popup_LoadForm (apptbltknid, tbltknid, bldtknid, inftknid, clmscore, clmrisk) {

        try {


            window.apptbltknid = apptbltknid;
            window.tbltknid = tbltknid;
            window.bldtknid = bldtknid;
            window.inftknid = inftknid;
            window.clmscore = clmscore;
            window.clmrisk = clmrisk;

            //alert('popup form here' + bldtknid + " , " + inftknid + " , " + clmscore + " , " + clmrisk);

            var clmn_Score = $("[data-clmscore='clmscore_" + inftknid + "']");
            var clmn_RiskMeasure = $("[data-clmrisk='clmrisk_" + inftknid + "']");

            var txt_RiskControlMeasure = '0';

            if (editor.getData() == '') {
                txt_RiskControlMeasure = "0";
            }
            else {
                txt_RiskControlMeasure = editor.getData();

            }


            //////if (editor.getData() == '') {
            //////    txt_RiskControlMeasure = "0";
            //////}
            //////else {
            //////    txt_RiskControlMeasure = editor.getData();

            //////}

            ////////alert(clmn_Score.html());

            //
            //
            //   alert($("[data-clmnscore='clmscore_1689793069675']").html());



            //var divTestMe = document.getElementById('txt_HTMLContent');
            var iScoreAdjusted = document.getElementById('iScoreAdjusted');

            //  iScoreAdjusted.value = '3';
            iScoreAdjusted.value = clmn_Score.html();

            editor.setData(clmn_RiskMeasure.html());


            //var txt_HTMLContent = document.getElementById('txt_HTMLContent');
            // txt_HTMLContent.value = 'txt_HTMLContent 333';

            //alert(divTestMe.innerHTML);
            //  alert(divTestMe.textContent);
            // alert('updatd popup value == ' + bldtknid);

            //  var editorData =  ClassicEditor.instances[ 'txt_HTMLContent' ];

            //  CKEDITOR.ClassicEditor.instances[ 'txt_HTMLContent' ].setData('txt_HTMLContent 333');



            //  alert(editorData);



            $('#popupModalEditor').modal('show');


            //clmn_Score.html('112');
            //clmn_RiskMeasure.html('<p> Some text 123 hello world </p>');

            // var txt_HTMLContent = document.getElementById('txt_HTMLContent');
            //  txt_HTMLContent.innerHTML = 'txt_HTMLContent 333';


            //  $('#txt_HTMLContent').val('some_value');
            //   $("#main").val(text);

            // alert(divTestMe.textContent);







            //////$.ajax({
            //////    type: "POST",

            //////    //url: @Url.Action("Update_Score_ByInformationTokenID","Development",new { Area = "iWebMember" }),
            //////    url: '/iWebMember/Development/Update_Score_ByInformationTokenID',

            //////    data: {
            //////        iBuildingTokenID: bldtknid,
            //////        iInformationTokenID: bldtknid,
            //////        iScoreAdjusted: bldtknid,
            //////        iRiskControlMeasure: inftknid
            //////    },
            //////    success: function (result) {
            //////        //alert('Successfully received Data ');
            //////        //console.log(result);
            //////        document.getElementById("popup_FormContent").innerHTML = result;
            //////        $('#popupModalEditor').modal('show');
            //////    },
            //////    error: function () {
            //////        alert('Failed to receive the Data');
            //////        console.log('Failed ');
            //////    }
            //////});






            //////$.ajax({
            //////    type: "GET",

            //////    //url: @Url.Action("Popup_GetEditor","BSRVemcoPopup",new { Area = "iWebMember" }),
            //////    url: '/iWebMember/BSRVemcoPopup/Popup_GetEditor',

            //////    data: {
            //////        bldtknid: bldtknid,
            //////        inftknid: inftknid
            //////    },
            //////    success: function (result) {
            //////        //alert('Successfully received Data ');
            //////        //console.log(result);
            //////        document.getElementById("popup_FormContent").innerHTML = result;
            //////        $('#popupModalEditor').modal('show');
            //////    },
            //////    error: function () {
            //////        alert('Failed to receive the Data');
            //////        console.log('Failed ');
            //////    }
            //////});






            //    $.ajax({

            //        type: 'get',

            //        url: @Url.Action("Popup_GetEditor","BSRVemcoPopup",new { Area = "iWebMember" }),//'/Controller/Method',
            //        data: {
            //             bldtknid: bldtknid,
            //            inftknid: inftknid
            //        },
            //        success: function (result) {

            //            alert("result == " + result);

            //            //  document.getElementById("popup_FormContent").innerHTML= result;


            //        }

            //    });
            //});

            // $('#popupModalEditor').modal('show');



            //////    //////$.ajax({
            //////    //////    type: 'GET',
            //////    //////    url: '/Controller/Method',
            //////    //////    data: { ParamName: document.getElementById("DivId").innerHTML },
            //////    //////    success: function (result) {

            //////    //////    }
            //////    //////});
            //////});








            //////   // var divTestMe = document.getElementById('divTestMe');
            //////var divTestMe = document.getElementById('txt_HTMLContent');

            ////// //   alert(divTestMe.innerHTML);
            //////    alert(divTestMe.textContent);

            //////    //jQuery.noConflict();
            //////    //$('#popupModalEditor').modal('show');

        }

        catch (ex) {
            //  alert(ex);
            console.log(ex);
        }
    }






    $(document).ready(function () {






    });





</script>













<!-- End #main -->
@*<div class="row">

    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">This is some placeholder content the Messages tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">This is some placeholder content the Messages tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">This is some placeholder content the Messages tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">This is some placeholder content the Messages tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
        </div>
    </div>

</div>*@